.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

data/songs.json
data/authors.json
# BotB songs are downloaded via a NPM script
data/battle-of-the-bits/
*.wasm
