body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #080d11;
  color: #c8c8c8;
}

.container {
  display: flex;
  flex-flow: column;
}

a[href] {
  color: #59af21;
}

a[href]:hover {
  color: #79cf41;
}

a[href]:active {
  color: #202f16;
}

small,
a.disabled,
a.disabled:hover,
a.disabled:active {
  color: #aaa;
}
